<main class="container px-3 d-flex flex-column flex-grow-1">
  <div class="photo-background d-flex align-items-end mx-auto mb-3"
    [ngClass]="photoSrc ? 'photo-background-height' : null"
    [ngStyle]="photoSrc ? {'background-image': 'linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)), url('+photoSrc+')'} : null">

    <label for="file-upload" class="hand-cursor d-block px-2 m-0 btn mx-auto my-3"
      [ngClass]="photoSrc ? 'position-relative btn-outline-light' : 'mb-3 btn-primary'">
      {{ photoSrc ? 'Choose Again' : 'Choose Image'}}
    </label>

    <input id="file-upload" class="d-none" type="file" (change)="loadFile($event)"
      accept="image/gif, image/jpeg, image/svg+xml, image/jpg, image/png, image/bmp, image/ico, image/webp" />
  </div>
  <textarea class="form-control mb-5" rows="3" placeholder="Description..." [(ngModel)]="description"></textarea>
  <button type="button" class="btn btn-primary ml-auto" [disabled]="(!photoSrc || isMakingPost)" (click)="makePost()">Post</button>
</main>
