main {
  padding: 100px 0px;
}

#choose-button {
    top: -60px;
}

img {
    width: 300px;
    max-height: 1000px;
}

textarea {
    height: 300px;
}

@media screen and (max-width:350px) {
    img {
      width: 100%;
    }
  }