main {
  padding: 100px 0px;
}

.photo-background-height {
  height: 300px;
}

.photo-background {
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

textarea {
  height: 300px;
}

.hand-cursor {
  cursor: pointer;
}

@media screen and (max-width:350px) {
  .photo-background  {
    width: 100%;
  }
}
