main {
  padding: 100px 0px;
}

#photo-background {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

textarea {
  height: 300px;
}

@media screen and (max-width:350px) {
  #photo-background  {
    width: 100%;
  }
}
