main {
    padding: 80px 50px;
    width: 600px;
}

#image-container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#post-dropdown::after {
    display:none;
}

.image-size {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media screen and (max-width:700px) {

    main {
        width: 100%;
    }
}