<main class="container px-1">
  <ng-container *ngIf="!removing else removableItems">
    <div class='image-container' *ngFor="let image of images">
      <a [routerLink]="['image']" [queryParams]="{imageid: image.id, imageUrl: image.imageUrl }"
        queryParamsHandling="merge">
        <img class="item-img w-100 h-100 p-1" [src]="image.imageUrl" alt="Picture">
        <a class="download-link fa-3x" [href]="image.imageUrl">
          <fa-icon [icon]="faTrash"></fa-icon>
        </a>
      </a>
    </div>
  </ng-container>
</main>
<ng-template #removableItems>
  <div class='image-container' *ngFor="let image of images">
    <img class="item-img w-100 h-100 p-1" [src]="image.imageUrl" alt="Picture">
    <a class="download-link fa-3x" [href]="image.imageUrl">
      <fa-icon [icon]="faTrash"></fa-icon>
    </a>
  </div>
</ng-template>