// TODO: remove colors when components implemented

header {
  background: blue;
}

nav {
  background: red;
}

main {
  padding: 50px 0 0 0;
  background: yellow;
}

.bottom-bar {
    background: green;
}