<header class="fixed-top d-flex">
  <nav class="d-flex flex-grow-1 p-2">
    <div>
      <app-profile-indicator></app-profile-indicator>
    </div>

    <div id="search" class="ml-auto">s</div>
    <div id="add-button" class="d-none d-sm-block">a</div>
  </nav>
</header>

<main class="container px-1">
  <div *ngFor="let content of tempContent">
    <img class="item-img w-100 h-100 p-1" [src]="content" alt="Picture">
  </div>
</main>

<div class="
  bottom-bar
  fixed-bottom
  d-block
  d-sm-none
  justify-content-center
  d-flex
  p-2">
  <div id="add-button-mobile">a</div>
</div>
