<header class="fixed-top d-flex">
  <nav class="d-flex flex-grow-1 p-2">
    <div id="profile">p</div>
    <div id="search" class="ml-auto">s</div>
    <div id="add-button" class="d-none d-sm-block">a</div>
  </nav>
</header>

<main class="container content centerize">
  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>

  <div class="d-flex software-box-outer">
    <div class="p-2 card  photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
    <div class="p-2 card photo-box-marign">
      <img class="card-img" [src]="catAvatar3" alt="Cat image">
    </div>
  </div>
</main>

<div class="bottom-bar fixed-bottom d-block d-sm-none justify-content-center d-flex p-2">

  <div id="add-button-mobile">add</div>
</div>