header {
  background: red;
}

nav {
  background: red;
}

main {
  padding: 80px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.img-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.item-img {
  object-fit: cover;
}

.bottom-bar {
  background: green;
}

@media screen and (max-width:400px) {
  main {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:300px) {
  main {
    grid-template-columns: auto;
  }
}
