<header class="fixed-top d-flex flex-column">
  <nav class="d-flex flex-grow-1 p-2">
    <div>
      <app-profile-indicator></app-profile-indicator>
    </div>

    <button type="button" class="img-button my-auto ml-auto border-0" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>

    <div id="add-button" class="d-none d-sm-block">a</div>
  </nav>

  <div id="collapseExample" [ngbCollapse]="isCollapsed" class="p-2">
    <input type="text" class="form-control" placeholder="Search Users">
  </div>
</header>

<main class="container px-1">
  <div *ngFor="let image of images">
    <img class="item-img w-100 h-100 p-1" [src]="image.imageUrl" alt="Picture">
  </div>
</main>

<div class="
  bottom-bar
  fixed-bottom
  d-block
  d-sm-none
  justify-content-center
  d-flex
  p-2">
  <div id="add-button-mobile">a</div>
</div>
