<header class="fixed-top d-flex flex-column">
  <div class="d-flex flex-row justify-content-between menubar-flex-container">
    <div class="p-2 flex-1">
      <div>
        <app-profile-indicator></app-profile-indicator>
      </div>
    </div>

    <div class="p-2 flex-1 d-none d-lg-block">
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav" routerLinkActive="active">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/homefeed">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-2 flex-1">
      <div class="d-flex flex-row-reverse menubar-flex-container">
        <div class="p-2 flex-1">
          <label for="file-upload" class="hand-cursor my-auto d-none d-lg-block px-2">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
          </label>
        </div>

        <div class="p-2 flex-1">
          <button type="button" class="img-button my-auto ml-auto border-0"
            (click)="isSearchCollapsed = !isSearchCollapsed" [attr.aria-expanded]="!isSearchCollapsed"
            aria-controls="searchCollapse">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </div>

      <input id="file-upload" type="file" (change)="uploadFile($event)" />
    </div>
  </div>
</header>

<main class="container px-1">
  <div>
    <p>Home Feed Works!</p>
  </div>
</main>

<div class="bottom-bar fixed-bottom d-lg-none d-xl-none justify-content-center d-flex p-2">
  <label for="file-upload" class="hand-cursor my-auto px-2">
    <button routerLink="/homefeed">
      <fa-icon [icon]="faHome"></fa-icon>
    </button>

    <button for="file-upload" class="hand-cursor my-auto px-2">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
    </button>

    <button routerLink="/">
      <fa-icon [icon]="faUser"></fa-icon>
    </button>
  </label>
  <input id="file-upload" type="file" (change)="uploadFile($event)" />
</div>