<main class="mx-auto">
  <div class="form-group d-flex flex-column">
    <input #box type="text" class="form-control" placeholder="Search..." (keyup)="onKey(box.value)" />
  </div>

  <div *ngFor="let item of result">
    <div>
      <img class="item-img w-100 h-100 p-1" [src]="item.imageUrl" alt="Picture">
    </div>

    <div class="d-flex" *ngIf="item">
      <fa-icon *ngIf="item.photoURL === 'undefined'" [icon]="faUserCircle" class="mr-3 ml-2 my-auto"></fa-icon>
      <img *ngIf="item.photoURL !== 'undefined'" [src]="item.photoURL" alt="profile picture"
        class="rounded-circle image-size mr-3 ml-2 my-auto">
      <div>
        <div class="font-weight-bold">{{item.displayName}}</div>
      </div>
    </div>

    <div class="d-flex mb-5">

      <p class="text-justify">
        <span class="text-secondary">{{ item.timeDateCreated| date:'medium' }}</span>
        {{item.description}}
      </p>
    </div>
  </div>
</main>