$navbar-color: #fafafa;
$navbar-border-color: #bdbdbd;
$default-border: 1px solid $navbar-border-color;

header {
  background: $navbar-color;
  border-bottom: $default-border;
}

nav {
  background: $navbar-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  color: black;
}

.active-nav-link {
  border-top: 3px solid #00000000;
  border-bottom: 3px solid black;
}

.img-button {
  background-color: rgba(0, 0, 0, 0);
}

.bottom-bar {
  background: $navbar-color;
  border-top: $default-border;
}

input[type="file"] {
  display: none;
}

.hand-cursor {
  cursor: pointer;
}
