$navbar-color: #fafafa;
$navbar-border-color: #bdbdbd;
$default-border: 1px solid $navbar-border-color;

header {
  background: $navbar-color;
  border-bottom: $default-border;
}

nav {
  background: $navbar-color;
}

.img-button {
  background-color: rgba(0, 0, 0, 0);
}

.bottom-bar {
  background: $navbar-color;
  border-top: $default-border;
}

input[type="file"] {
  display: none;
}

.hand-cursor {
  cursor: pointer;
}