<header class="fixed-top d-flex flex-column">
  <nav>
    <div class="p-2 d-flex align-items-center">
      <app-profile-indicator></app-profile-indicator>
    </div>

    <div class="d-flex justify-content-center">
      <a class="nav-link-style mr-2 p-3 font-weight-bold d-none d-sm-flex align-items-center"
        [class.active-nav-link]="isAtHomePage" routerLink="/home">Home</a>
      <a class="nav-link-style ml-2 p-3 font-weight-bold d-none d-sm-flex align-items-center"
        [class.active-nav-link]="isAtProfilePage" routerLink="/">Profile</a>
    </div>

    <div class="p-2 d-flex align-items-center justify-content-end px-2 nav-link-style">
      <a routerLink="/create-post" class="px-2 nav-link-style">
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </a>

      <a routerLink="/search" class="px-2 nav-link-style d-none d-sm-block">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<div class="bottom-bar fixed-bottom p-2 d-sm-none d-grid">
  <div>
    <a routerLink="/home" class="nav-link-style" [class.active-nav-link-bottom]="isAtHomePage">
      <fa-icon [icon]="faHome"></fa-icon>
    </a>
  </div>

  <div>
    <a routerLink="/search" class="px-2 nav-link-style" [class.active-nav-link-bottom]="isAtSearchPage">
      <fa-icon [icon]="faSearch"></fa-icon>
    </a>
  </div>

  <div>
    <a routerLink="/" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
  </div>
</div>