<header class="fixed-top d-flex flex-column">
  <nav *ngIf="!deleteMode">
    <div class="p-2 d-flex align-items-center">
      <div ngbDropdown>
        <button ngbDropdownToggle id="menu-button" class="border-0 d-flex align-items-center">
          <app-profile-indicator></app-profile-indicator>
        </button>

        <div ngbDropdownMenu aria-labelledby="menu-button">
          <button ngbDropdownItem (click)="logOut()">Log Out</button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a class="nav-link-style mr-2 p-3 font-weight-bold d-none d-sm-flex align-items-center"
        [class.active-nav-link]="isAtHomePage" routerLink="/home">Home</a>
      <a class="nav-link-style ml-2 p-3 font-weight-bold d-none d-sm-flex align-items-center"
        [class.active-nav-link]="isAtProfilePage" routerLink="/">Profile</a>
    </div>

    <div class="p-2 d-flex align-items-center justify-content-end px-2 nav-link-style">
      <a routerLink="/create-post" class="px-2 nav-link-style">
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </a>

      <a routerLink="/search" class="px-2 nav-link-style d-none d-sm-block">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>

      <div ngbDropdown class="d-inline-block" *ngIf="isAtProfilePage">
        <button class="img-button border-0 ml-auto" id="post-dropdown" ngbDropdownToggle>
          <fa-icon [icon]="faEllipsisV"></fa-icon>
        </button>

        <div ngbDropdownMenu aria-labelledby="post-dropdown" placement="right-bottom">
          <button ngbDropdownItem (click)="toggleDelete()">Delete Posts</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="navbar navbar-light bg-light" *ngIf="deleteMode">
    <span class="navbar-brand"> {{selectedImages}} </span>
    <div class="d-flex align-items-center justify-content-end">
      <button class="btn btn-danger mx-2" (click)="openConfirmModal()">Delete</button>
      <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<div *ngIf="!deleteMode" class="bottom-bar fixed-bottom p-2 d-sm-none d-grid">
  <div>
    <a routerLink="/home" class="nav-link-style" [class.active-nav-link-bottom]="isAtHomePage">
      <fa-icon [icon]="faHome"></fa-icon>
    </a>
  </div>

  <div>
    <a routerLink="/search" class="px-2 nav-link-style" [class.active-nav-link-bottom]="isAtSearchPage">
      <fa-icon [icon]="faSearch"></fa-icon>
    </a>
  </div>

  <div>
    <a routerLink="/" class="nav-link-style" [class.active-nav-link-bottom]="isAtProfilePage">
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
  </div>
</div>
