$primary-text-color: rgba(0, 0, 0, 0.747);

#name {
    font-size: 1.3em;
    color: $primary-text-color
}

#email {
    font-size: 0.8em;
    color: $primary-text-color
}

.image-size {
    width: 55px;
    height: 55px;
    object-fit: cover;
}